---
import classNames from "classNames";

export interface Props {
    className?: string;
}

const { className } = Astro.props;
---

<div class={classNames(className, "app-bar")}><slot /></div>

<style lang="scss" is:global>
    @import "../../styles/variables";

    .app-bar {
        height: $header-height-desktop;
        min-height: $header-height-desktop;
    }

    @media (max-width: $tablet) {
        .app-bar {
            height: $header-height-tablet;
            min-height: $header-height-tablet;
        }
    }

    @media (max-width: $mobile) {
        .app-bar {
            height: $header-height-mobile;
            min-height: $header-height-mobile;
        }
    }
</style>
