---
import classNames from "classNames";

export interface Props {
    className?: string;
}

const { className } = Astro.props;
---

<div class={classNames(className, "backdrop")}>
    <slot />
</div>

<style lang="scss">
    @import "../../styles/variables";

    .backdrop {
        background: $color-overlay;
        backdrop-filter: blur(32px);
    }
</style>
