@import "./variables";
@import "./mixins";

html {
    font-size: 16px;
    font-family: Golos;

    @include custom-scrollbar;
    overflow-y: scroll;
    overflow-x: hidden;

    //  theme variables
    --color-prime-main: #{$color-prime-main};
    --color-background: #{$color-background};
    --color-background-upper1: #{$color-background-upper1};
    --color-secondary-main: #{$color-secondary-main};
    --z-index-page-loader: #{$z-index-page-loader};
}

body {
    overflow-x: hidden;
}

* {
    font-family: Golos;
}

div,
span,
a {
    color: $color-text-prime;
}