@use "sass:color";
@use "sass:math";

// helper

@function strip-unit($number) {
	@if type-of($number)=='number' and not unitless($number) {
		@return math.div($number, $number * 0 + 1);
	}

	@return $number;
}

@function get-adaptive-value($big-value, $small-value, $big-screen: $desktop, $small-screen: $mobile) {
	$increment: $big-value - $small-value;
	@return clamp(#{$small-value}, #{$small-value} + #{strip-unit($increment)} * (100vw - #{$small-screen}) / (#{strip-unit($big-screen - $small-screen)}), #{$big-value});
}


// VARIABLES

// colors

$color-prime-main: #6320F0;
$color-prime-light: #9868ff;
$color-prime-dim: rgba(157, 111, 255, 0.16);
$color-prime-contrast: #fff;

$color-secondary-shadow: rgba(255, 35, 164, 0.64);

$color-background-upper4: rgba(255, 255, 255, 0.08);
$color-background-upper3: rgba(255, 255, 255, 0.06);
$color-background-upper2: rgba(255, 255, 255, 0.04);
$color-background-upper1: #11101A;
$color-background: #0A090F;

$color-overlay: rgba(0, 0, 0, 0.5);

$color-text-prime: rgba(255, 255, 255, 0.92);
$color-text-secondary: rgba(255, 255, 255, 0.64);
$color-text-more-secondary: rgba(255, 255, 255, 0.32);

$color-action-hover-opacity: 0.10;
$color-action-hover: rgba(255, 255, 255, $color-action-hover-opacity);
$color-action-selected-opacity: 0.2;
$color-action-selected: rgba(255, 127, 81, $color-action-selected-opacity);
$color-divider: rgba(255, 255, 255, 0.08);

$color-error: #F44336;

// gradients

$gradient-primary-main: linear-gradient(143.45deg, #20FFFA -30.19%, #FF20FF 46.69%, #FF741A 77.04%);

@mixin gradient-primary-for-text {
	background: $gradient-primary-main;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

$gradient-border-main: linear-gradient(127.08deg, rgba(255, 255, 255, 0.16) 0%, rgba(0, 0, 0, 0.08) 99.96%);


// typography

$typography-h2-font-weight: 500;
$typography-h2-font-size: 5rem;
$typography-h2-line-height: 1.25;
$typography-h2-letter-spacing: 0.01em;

@mixin typography-h2 {
	font-weight: $typography-h2-font-weight;
	font-size: $typography-h2-font-size;
	line-height: $typography-h2-line-height;
	letter-spacing: $typography-h2-letter-spacing;
}

$typography-h2-adaptive-font-weight: 500;
$typography-h2-adaptive-font-size: 2rem;
$typography-h2-adaptive-line-height: 1.25;
$typography-h2-adaptive-letter-spacing: 0.01em;

@mixin typography-h2-adaptive {
	font-weight: $typography-h2-adaptive-font-weight;
	font-size: $typography-h2-adaptive-font-size;
	line-height: $typography-h2-adaptive-line-height;
	letter-spacing: $typography-h2-adaptive-letter-spacing;
}

$typography-h3-font-weight: 500;
$typography-h3-font-size: 3.5rem;
$typography-h3-line-height: 1.28571428571;
$typography-h3-letter-spacing: 0.01em;

@mixin typography-h3 {
	font-weight: $typography-h3-font-weight;
	font-size: $typography-h3-font-size;
	line-height: $typography-h3-line-height;
	letter-spacing: $typography-h3-letter-spacing;
}

$typography-h3-adaptive-font-weight: 400;
$typography-h3-adaptive-font-size: 1.75rem;
$typography-h3-adaptive-line-height: 1.28571428571;

@mixin typography-h3-adaptive {
	font-weight: $typography-h3-adaptive-font-weight;
	font-size: $typography-h3-adaptive-font-size;
	line-height: $typography-h3-adaptive-line-height;
}

$typography-h4-font-weight: 400;
$typography-h4-font-size: 2.25rem;
$typography-h4-line-height: 1.333;

@mixin typography-h4 {
	font-weight: $typography-h4-font-weight;
	font-size: $typography-h4-font-size;
	line-height: $typography-h4-line-height;
}

$typography-h4-adaptive-font-weight: 400;
$typography-h4-adaptive-font-size: 1.25rem;
$typography-h4-adaptive-line-height: 1.75rem;

@mixin typography-h4-adaptive {
	font-weight: $typography-h4-adaptive-font-weight;
	font-size: $typography-h4-adaptive-font-size;
	line-height: $typography-h4-adaptive-line-height;
}

$typography-h5-font-weight: 500;
$typography-h5-font-size: 1.5rem;
$typography-h5-line-height: 1.5;

@mixin typography-h5 {
	font-weight: $typography-h5-font-weight;
	font-size: $typography-h5-font-size;
	line-height: $typography-h5-line-height;
}

$typography-h6-font-weight: 500;
$typography-h6-font-size: 1.25rem;
$typography-h6-line-height: 1.4;

@mixin typography-h6 {
	font-weight: $typography-h6-font-weight;
	font-size: $typography-h6-font-size;
	line-height: $typography-h6-line-height;
}

$typography-subtitle1-font-weight: 500;
$typography-subtitle1-font-size: 1rem;
$typography-subtitle1-line-height: 1.5rem;

@mixin typography-subtitle1 {
	font-weight: $typography-subtitle1-font-weight;
	font-size: $typography-subtitle1-font-size;
	line-height: $typography-subtitle1-line-height;
}

$typography-subtitle2-font-weight: 500;
$typography-subtitle2-font-size: 0.875rem;
$typography-subtitle2-line-height: 1.25rem;

@mixin typography-subtitle2 {
	font-weight: $typography-subtitle2-font-weight;
	font-size: $typography-subtitle2-font-size;
	line-height: $typography-subtitle2-line-height;
}

$typography-body1-font-weight: 400;
$typography-body1-font-size: 1.25rem;
$typography-body1-line-height: 1.4;

@mixin typography-body1 {
	font-weight: $typography-body1-font-weight;
	font-size: $typography-body1-font-size;
	line-height: $typography-body1-line-height;
}

$typography-body1-adaptive-font-weight: 400;
$typography-body1-adaptive-font-size: 1rem;
$typography-body1-adaptive-line-height: 1.5;

@mixin typography-body1-adaptive {
	font-weight: $typography-body1-adaptive-font-weight;
	font-size: $typography-body1-adaptive-font-size;
	line-height: $typography-body1-adaptive-line-height;
}

$typography-body2-font-weight: 400;
$typography-body2-font-size: 1rem;
$typography-body2-line-height: 1.5;

@mixin typography-body2 {
	font-weight: $typography-body2-font-weight;
	font-size: $typography-body2-font-size;
	line-height: $typography-body2-line-height;
}

$typography-body2-adaptive-font-weight: 400;
$typography-body2-adaptive-font-size: 0.875rem;
$typography-body2-adaptive-line-height: 1.428;

@mixin typography-body2-adaptive {
	font-weight: $typography-body2-adaptive-font-weight;
	font-size: $typography-body2-adaptive-font-size;
	line-height: $typography-body2-adaptive-line-height;
}

$typography-body2-text-font-weight: 400;
$typography-body2-text-font-size: 0.875rem;
$typography-body2-text-line-height: 1.5;

@mixin typography-body2-text {
	font-weight: $typography-body2-text-font-weight;
	font-size: $typography-body2-text-font-size;
	line-height: $typography-body2-text-line-height;
}

$typography-caption-font-weight: 400;
$typography-caption-font-size: 0.75rem;
$typography-caption-line-height: 1rem;

@mixin typography-caption {
	font-weight: $typography-caption-font-weight;
	font-size: $typography-caption-font-size;
	line-height: $typography-caption-line-height;
}

// breakpoints

$desktop: 1920px;
$small-desktop: 1600px;
$laptop: 1440px;
$small-laptop: 1280px;
$tablet: 1024px;
$small-tablet: 768px;
$mobile: 420px;

// animations

$animation-fast: .15s;
$animation-normal: .3s;
$animation-slow: .45s;

// z-index

$z-index-header: 100;
$z-index-drawer: 250;
$z-index-modal: 500;
$z-index-video-player: 1000;
$z-index-dropdown-overlay: 1200;
$z-index-dropdown-menu: 1250;
$z-index-popper: 1400;
$z-index-tooltip: 1600;

// sizes

$scrollbar-width: 0.5rem;

$header-height-desktop: 5.5rem;
$header-height-tablet: 5rem;
$header-height-mobile: 4rem;

$container-padding-desktop: 180px;
$container-padding-mobile: 24px;
$container-padding-adaptive: get-adaptive-value($container-padding-desktop, $container-padding-mobile);