---
import { t } from "../utils/i18next/i18next";
import LandingLayout from "../layouts/LandingLayout.astro";
import routes from "../store/routes";
---

<LandingLayout
    title="Arbitroom"
    menuItems={[
        {
            id: "howCashGenerated",
            href: routes.index.pathWithFragment("howCashGenerated"),
            label: t("@landing.@menu.howCashGenerated"),
        },
        {
            id: "advantagesOfNeuralNetwork",
            href: routes.index.pathWithFragment("advantagesOfNeuralNetwork"),
            label: t("@landing.@menu.advantagesOfNeuralNetwork"),
        },
        {
            id: "whatFirst",
            href: routes.index.pathWithFragment("whatFirst"),
            label: t("@landing.@menu.whatFirst"),
        },
        {
            id: "clientsAboutUs",
            href: routes.index.pathWithFragment("clientsAboutUs"),
            label: t("@landing.@menu.clientsAboutUs"),
        },
    ]}
    menuActionButton={{
        href: "/login",
        label: t("@common.signup"),
    }}
>
    <div slot="welcome">welcome</div>
    content
</LandingLayout>
