---
import classNames from "classNames";
import routes from "@store/routes";
import { t, Trans } from "@utils/i18next";
import Container from "@components/uiKit/Container.astro";
import Section from "@components/uiKit/Section.astro";
import Text from "@components/uiKit/Text.astro";
import WithAOS from "@components/utils/WithAOS.astro";
import variables from "@styles/variables";
import AboutNeuralImage from "@components/AboutNeuralImage.astro";

export interface Props {
    className?: string;
}

const { className } = Astro.props;
---

<Container
    className={classNames(className)}
    id={routes.index.fragments.howCashGenerated}
>
    <Section className="about-neural">
        <WithAOS animation={"zoom-in"} delay={100}>
            <AboutNeuralImage className="about-neural__poster" />
        </WithAOS>
        <WithAOS
            animation={"fade-left"}
            adaptive={[
                {
                    maxWidth: variables.smallTablet,
                    attrs: { animation: "fade-right" },
                },
            ]}
        >
            <div class="about-neural__header">
                <Text className="about-neural__subtitle" variant={"h5"}>
                    {t("@landing.@menu.howCashGenerated")}
                </Text>
                <Text className="about-neural__title" variant={"h3"}>
                    <Trans i18nKey="@landing.@aboutNeural.title">
                        Собственная разработка компании Arbitroom —
                        <Text color="secondary-gradient">
                            нейросеть для крипто арбитража
                        </Text>
                    </Trans>
                </Text>
            </div>
        </WithAOS>
        <div class="about-neural__body">
            <Text
                className={"about-neural__description"}
                variant={"body1"}
                color="text-secondary"
            >
                <WithAOS
                    animation={"fade-left"}
                    delay={200}
                    adaptive={[
                        {
                            maxWidth: variables.tablet,
                            attrs: { animation: "fade-right" },
                        },
                    ]}
                >
                    <div>{t("@landing.@aboutNeural.description1")}</div>
                </WithAOS>
                <WithAOS
                    animation={"fade-left"}
                    delay={250}
                    adaptive={[
                        {
                            maxWidth: variables.tablet,
                            attrs: { animation: "fade-right" },
                        },
                    ]}
                >
                    <div>{t("@landing.@aboutNeural.description2")}</div>
                </WithAOS>
                <WithAOS
                    animation={"fade-left"}
                    delay={300}
                    adaptive={[
                        {
                            maxWidth: variables.tablet,
                            attrs: { animation: "fade-right" },
                        },
                    ]}
                >
                    <div>{t("@landing.@aboutNeural.description3")}</div>
                </WithAOS>
            </Text>
        </div>
    </Section>
</Container>

<style lang="scss" is:global>
    @import "../styles/variables";

    .about-neural {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "p h"
            "p b";
        column-gap: 4rem;
        row-gap: 3rem;
    }
    .about-neural__poster {
        grid-area: p;
        min-width: 0;
        flex-basis: 0;
        flex-grow: 1;
        min-height: 100%;
        height: 0;
        border-radius: 1.25rem;
        overflow: hidden;
    }
    .about-neural__header {
        grid-area: h;
    }
    .about-neural__body {
        grid-area: b;
    }

    .about-neural__subtitle {
        margin-bottom: 1rem;
    }

    .about-neural__description {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @media (max-width: $small-desktop) {
        .about-neural {
            column-gap: 3.25rem;
            row-gap: 2.5rem;
        }
    }
    @media (max-width: $laptop) {
        .about-neural {
            column-gap: 2.75rem;
            row-gap: 2rem;
        }
    }
    @media (max-width: $small-laptop) {
        .about-neural {
            column-gap: 2rem;
            row-gap: 1.5rem;
        }

        .about-neural__subtitle {
            margin-bottom: 0.75rem;
        }
    }
    @media (max-width: $tablet) {
        .about-neural {
            grid-template-areas:
                "p h"
                "b b";
        }
    }
    @media (max-width: $small-tablet) {
        .about-neural {
            grid-template-areas:
                "h h"
                "b b";
        }

        .about-neural__poster {
            display: none;
        }

        .about-neural__subtitle {
            font-size: 1.25rem !important;
            font-weight: 400 !important;
            line-height: 1.4 !important;
        }
    }
</style>
