---
import classNames from "classNames";
import { t } from "../utils/i18next";
import Trans from "../utils/i18next/Trans.astro";
import Button from "./uiKit/Button.astro";
import Container from "./uiKit/Container.astro";
import Icon, { Props as IconProps } from "./uiKit/Icon/Icon.astro";
import Text from "./uiKit/Text.astro";
import socials from "../store/socials";
import Logo from "./Logo.astro";
import Section from "./uiKit/Section.astro";
import AppBar from "./uiKit/AppBar.astro";

export interface Props {
    className?: string;
    menuItems: Array<{
        id: string;
        href: string;
        label: string;
    }>;
}

const { className, menuItems } = Astro.props;
---

<Container as="footer" className={classNames(className, "footer")} id="footer">
    <div class="footer__main">
        <Text className={"footer__title"} variant={"h3"}>
            <Trans i18nKey="@landing.@footer.title">
                <Text as="span" color="secondary-gradient">
                    Получай прибыль
                </Text> уже сейчас независимо от тренда
            </Trans>
        </Text>
        <Button size={"large"}>
            {t("@common.join")}
        </Button>
    </div>
    <div class="footer__img-wrapper">
        <img
            class="footer__img"
            src="/layout-assets/images/image-for-footer.png"
            alt=""
        />
    </div>
    <AppBar className="footer__nav">
        <Logo />
        <div class="footer__menu">
            {
                menuItems.map((menuItem) => (
                    <Text
                        variant={"body2"}
                        className="footer__menu-item"
                        as="a"
                        attrs={{
                            ["href"]: menuItem.href,
                            ["data-key"]: menuItem.id,
                        }}
                    >
                        {menuItem.label}
                    </Text>
                ))
            }
        </div>
    </AppBar>
    <div class="footer__links">
        <div class="footer__socials">
            {
                socials.map((social) => (
                    <Text
                        as="a"
                        attrs={{ href: social.href, target: "_blank" }}
                        variant={"body1"}
                        className={"footer__social"}
                    >
                        <Icon iconName={social.iconName} />
                        {t(social.tkey)}
                    </Text>
                ))
            }
        </div>
        <div class="footer__meta">
            <Text
                as="a"
                attrs={{ href: "#" }}
                variant={"body2"}
                className={"footer__private-policy"}
            >
                {t("@common.privacyPolicy")}
            </Text>
            <Text variant={"body2"} className={"footer__copyright"}>
                © {new Date().getFullYear()} Arbitroom. All rights reserved.
            </Text>
        </div>
    </div>
    <div class="footer__glow"></div>
</Container>

<style lang="scss">
    @import "../styles/variables";

    .footer {
        position: relative;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas:
            "m i"
            "n n"
            "l l";
        padding-top: 11.25rem;
        padding-bottom: 4rem;
        column-gap: 1rem;
    }
    .footer__main {
        grid-area: m;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 3rem;
    }
    .footer__title {
        max-width: 1000px;
    }
    .footer__img-wrapper {
        grid-area: i;
        position: relative;
        width: clamp(180px, 18.75vw, 360px);
    }
    .footer__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 119%;
    }

    .footer__nav {
        grid-area: n;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: content-box;
        gap: 1.5rem;
        margin-top: 8rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $color-text-more-secondary;
        margin-bottom: 1.5rem;
        min-width: 0;
    }
    .footer__menu {
        min-width: 0;
        overflow: hidden;

        display: flex;
        align-items: center;
        gap: 0.75rem;

        opacity: 0;
        pointer-events: none;
        transition: opacity $animation-normal;

        &.visible {
            opacity: 1;
            pointer-events: auto;
        }
    }
    .footer__menu-item {
        white-space: nowrap;
        overflow: visible;
        padding: 0.5rem;
    }

    .footer__links {
        grid-area: l;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: flex-end;
        flex-wrap: wrap;
        row-gap: 1.5rem;
        column-gap: 0.75rem;
    }
    .footer__meta {
        flex-grow: 1;
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
    }
    .footer__copyright {
        color: $color-text-more-secondary;
    }
    .footer__private-policy {
        text-decoration: underline;
    }
    .footer__socials {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 2rem;
        row-gap: 1rem;
    }
    .footer__social {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.625rem;
        cursor: pointer;
        transition: color $animation-normal;
    }

    .footer__glow {
        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 1000px;
        overflow: hidden;
        z-index: -1;

        &::before {
            content: "";
            position: absolute;
            width: 698px;
            height: 698px;
            left: -349px;
            bottom: -151px;

            background: radial-gradient(
                    136.3% 147.46% at 22.04% -55.08%,
                    rgba(32, 255, 250, 0.16) 0%,
                    rgba(255, 32, 255, 0.16) 71.7%,
                    rgba(255, 116, 26, 0.16) 100%
                )
                /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            filter: blur(128px);
        }
    }

    @media (max-width: $small-desktop) {
        .footer {
            padding-top: 9.625rem;
            padding-bottom: 3.875rem;
        }

        .footer__main {
            gap: 2.75rem;
        }

        .footer__nav {
            margin-top: 7rem;
        }

        .footer__socials {
            column-gap: 1.75rem;
        }
    }

    @media (max-width: $laptop) {
        .footer {
            padding-top: 8rem;
            padding-bottom: 3.625rem;
        }

        .footer__main {
            gap: 2.5rem;
        }

        .footer__nav {
            margin-top: 6rem;
        }

        .footer__socials {
            column-gap: 1.5rem;
        }
    }

    @media (max-width: $small-laptop) {
        .footer {
            padding-top: 6.25rem;
            padding-bottom: 3.375rem;
        }

        .footer__main {
            gap: 2.125rem;
        }

        .footer__nav {
            margin-top: 5rem;
        }

        .footer__socials {
            column-gap: 1.25rem;
        }
    }

    @media (max-width: $tablet) {
        .footer {
            padding-top: 4.625rem;
            padding-bottom: 3.25rem;
        }

        .footer__main {
            gap: 1.875rem;
        }

        .footer__nav {
            margin-top: 4rem;
        }

        .footer__socials {
            column-gap: 1rem;
        }
    }

    @media (max-width: $small-tablet) {
        .footer {
            padding-top: 3rem;
            padding-bottom: 3rem;
            gap: 0;
        }

        .footer__main {
            gap: 1.5rem;
            margin-bottom: 2rem;
        }

        .footer__title {
            max-width: 500px;
        }

        .footer__img-wrapper {
            display: none;
        }

        .footer__nav {
            display: none;
        }

        .footer__links {
            row-gap: 2rem;
        }

        .footer__meta {
            flex-direction: column;
            align-items: flex-start;
        }

        .footer__glow {
            display: none;
        }
    }

    @media (max-width: $mobile) {
        .footer__socials {
            flex-direction: column;
            align-items: flex-start;
        }

        .footer__social {
            gap: 1rem;
            padding: 0.5rem;
            border: 1px solid $color-text-prime;
            border-radius: 2.5rem;
            transition: background $animation-normal;

            &:hover {
                background: $color-action-hover;
                transition: background $animation-fast;
            }
        }
    }
</style>

<script>
    import addOnOverflow from "../utils/addOnOverflow";

    window.addEventListener("load", () => {
        const footer = document.getElementById("footer");
        const footerMenu = footer?.querySelector(".footer__menu");

        if (footerMenu) {
            addOnOverflow(footerMenu, (state) => {
                if (state === "overflow") {
                    footerMenu.classList.remove("visible");
                } else if (state === "normal") {
                    footerMenu.classList.add("visible");
                }
            });
        }
    });
</script>
