---
export interface Props {
    className?: string;
    menuItems: Array<{
        id: string;
        href: string;
        label: string;
    }>;
}

const { className, menuItems } = Astro.props;
---

<header class:list={["header", className]}>
    <div class="header__logo">
        <img src="/layout-assets/images/logo.svg" />
    </div>
    <div class="header__menu">
        {
            menuItems.map((menuItem) => (
                <>
                    <a
                        class="header__menuItem"
                        href={menuItem.href}
                        data-key={menuItem.id}
                    >
                        {menuItem.label}
                    </a>
                </>
            ))
        }
    </div>
    <div>
        <slot name="actions" />
    </div>
</header>
