---
import classNames from "classNames";
import { t } from "@utils/i18next";
import Container from "@components/uiKit/Container.astro";
import Section from "@components/uiKit/Section.astro";
import Paper from "@components/uiKit/Paper.astro";
import Text from "@components/uiKit/Text.astro";
import WithAOS from "@components/utils/WithAOS.astro";
import variables from "@styles/variables";

export interface Props {
    className?: string;
}

const { className } = Astro.props;

const profitCards = [
    {
        iconSrc: "/_layout-assets/images/card-icons/wallet.svg",
        title: t("@landing.@profits.availableSum"),
    },
    {
        iconSrc: "/_layout-assets/images/card-icons/trend-up.svg",
        title: t("@landing.@profits.profitPerMonth"),
    },
    {
        iconSrc: "/_layout-assets/images/card-icons/money-hand.svg",
        title: t("@landing.@profits.abilityToCashOut"),
    },
];
---

<Container className={classNames(className)}>
    <Section className={"profits"}>
        <WithAOS animation={"fade-right"}>
            <Text className="profits__title" variant={"h3"}>
                {t("@landing.@profits.title")}
            </Text>
        </WithAOS>
        <div class="profits__cards">
            {
                profitCards.map((data, index) => (
                    <WithAOS
                        animation={"fade-up"}
                        delay={index * 100 + 200}
                        adaptive={[
                            {
                                maxWidth: variables.smallTablet,
                                attrs: {
                                    animation: "fade-right",
                                    delay: index * 50 + 200,
                                },
                            },
                        ]}
                    >
                        <div>
                            <Paper className="profit-card">
                                <div class="profit-card__icon-wrapper">
                                    <img src={data.iconSrc} />
                                    <img src={data.iconSrc} />
                                </div>
                                <Text
                                    className="profit-card__title"
                                    variant={"h5"}
                                >
                                    {data.title}
                                </Text>
                            </Paper>
                        </div>
                    </WithAOS>
                ))
            }
        </div>
    </Section>
</Container>

<style lang="scss" is:global>
    @import "../styles/variables.scss";

    .profits__title {
        text-align: center;
        margin-bottom: 4rem;
    }
    .profits__cards {
        display: flex;
        gap: 1rem;
        & > * {
            flex-basis: 0;
            flex-grow: 1;
        }
    }
    .profit-card {
        height: 100%;
        padding: 2rem 1rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        cursor: pointer;

        &:hover {
            & > .profit-card__icon-wrapper {
                & > img:first-child {
                    transform: translate(6px, 6px);
                    opacity: 1;
                }

                & > img:nth-child(2) {
                    transform: translate(-6px, -6px);
                }
            }
        }
    }
    .profit-card__icon-wrapper {
        position: relative;
        padding: 0.75rem;
        border-radius: 16px;
        filter: drop-shadow(0px 0px 16px $color-secondary-main);

        & > img:first-child {
            position: absolute;
            top: 0.75rem;
            left: 0.75rem;
            width: 3.5rem;
            height: 3.5rem;
            filter: brightness(0) invert(1);
            opacity: 0;
            transition: all $animation-normal;
            z-index: 2;
        }
        & > img:nth-child(2) {
            position: relative;
            width: 3.5rem;
            height: 3.5rem;
            transition: all $animation-normal;
            z-index: 1;
        }
    }
    .profit-card__title {
        text-align: center;
        width: 70%;
    }

    @media (max-width: $small-desktop) {
        .profits__title {
            margin-bottom: 3.5rem;
        }
    }
    @media (max-width: $laptop) {
        .profits__title {
            margin-bottom: 3rem;
        }
    }
    @media (max-width: $small-laptop) {
        .profits__title {
            margin-bottom: 2.5rem;
        }
    }
    @media (max-width: $tablet) {
        .profits__title {
            margin-bottom: 2rem;
        }
    }
    @media (max-width: $small-tablet) {
        .profits__title {
            text-align: left;
            margin-bottom: 1.5rem;
        }

        .profits__cards {
            flex-direction: column;
        }

        .profit-card {
            flex-direction: row;
            align-items: center;
            padding: 2rem;
        }
        .profit-card__title {
            text-align: left;
            font-size: 1.25rem !important;
            font-weight: 400 !important;
            line-height: 140% !important;
        }
    }

    @media (max-width: $mobile) {
        .profits__cards {
            gap: 0.75rem;
        }

        .profit-card {
            flex-direction: column;
            align-items: center;
            padding: 2rem 1rem;
        }

        .profit-card__icon-wrapper {
            img {
                width: 3rem;
                height: 3rem;
            }
        }

        .profit-card__title {
            text-align: center;
        }
    }
</style>
