---
import classNames from "classNames";
import { t } from "../utils/i18next";
import Container from "./uiKit/Container.astro";
import Section from "./uiKit/Section.astro";
import Paper from "./uiKit/Paper.astro";
import Text from "./uiKit/Text.astro";

export interface Props {
    className?: string;
}

const { className } = Astro.props;

const profitCards = [
    {
        iconSrc: "/layout-assets/images/card-icons/wallet.svg",
        title: t("@landing.@profits.availableSum"),
    },
    {
        iconSrc: "/layout-assets/images/card-icons/trend-up.svg",
        title: t("@landing.@profits.profitPerMonth"),
    },
    {
        iconSrc: "/layout-assets/images/card-icons/money-hand.svg",
        title: t("@landing.@profits.abilityToCashOut"),
    },
];
---

<Container className={classNames(className)}>
    <Section className={"profits"}>
        <Text className="profits__title" variant={"h3"}>
            {t("@landing.@profits.title")}
        </Text>
        <div class="profits__cards">
            {
                profitCards.map((data) => (
                    <Paper className="profit-card">
                        <div class="profit-card__icon-wrapper">
                            <img src={data.iconSrc} />
                        </div>
                        <Text className="profit-card__title" variant={"h5"}>
                            {data.title}
                        </Text>
                    </Paper>
                ))
            }
        </div>
    </Section>
</Container>

<style lang="scss">
    @import "../styles/variables.scss";

    .profits__title {
        text-align: center;
        margin-bottom: 4rem;
    }
    .profits__cards {
        display: flex;
        gap: 1rem;
        & > * {
            flex-basis: 0;
            flex-grow: 1;
        }
    }
    .profit-card {
        padding: 2rem 1rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .profit-card__icon-wrapper {
        padding: 0.75rem;
        filter: drop-shadow(0px 0px 16px rgba(255, 35, 164, 0.64));
        border-radius: 16px;

        img {
            width: 3.5rem;
            height: 3.5rem;
        }
    }
    .profit-card__title {
        text-align: center;
        width: 70%;
    }

    @media (max-width: $small-desktop) {
        .profits__title {
            margin-bottom: 3.5rem;
        }
    }
    @media (max-width: $laptop) {
        .profits__title {
            margin-bottom: 3rem;
        }
    }
    @media (max-width: $small-laptop) {
        .profits__title {
            margin-bottom: 2.5rem;
        }
    }
    @media (max-width: $tablet) {
        .profits__title {
            margin-bottom: 2rem;
        }
    }
    @media (max-width: $small-tablet) {
        .profits__title {
            text-align: left;
            margin-bottom: 1.5rem;
        }

        .profits__cards {
            flex-direction: column;
        }

        .profit-card {
            flex-direction: row;
            align-items: center;
            padding: 2rem;
        }
        .profit-card__title {
            text-align: left;
            font-size: 1.25rem !important;
            font-weight: 400 !important;
            line-height: 140% !important;
        }
    }

    @media (max-width: $mobile) {
        .profits__cards {
            gap: 0.75rem;
        }

        .profit-card {
            flex-direction: column;
            align-items: center;
            padding: 2rem 1rem;
        }

        .profit-card__icon-wrapper {
            img {
                width: 3rem;
                height: 3rem;
            }
        }

        .profit-card__title {
            text-align: center;
        }
    }
</style>
