---
import classNames from "classNames";
import { t } from "../utils/i18next/i18next";
import Button from "./uiKit/Button.astro";
import Container from "./uiKit/Container.astro";
import Icon from "./uiKit/Icon";
import Text from "./uiKit/Text.astro";

export interface Props {
    className?: string;
}

const { className } = Astro.props;
---

<Container className={classNames(className, "welcome")}>
    <div class="welcome__main-content">
        <div class="welcome__title">{t("@landing.@welcome.title")}</div>
        <Text className="welcome__description" variant={"h5"}>
            {t("@landing.@welcome.description")}
        </Text>
        <div class="welcome__actions">
            <Button size={"large"}>
                {t("@common.startNow")}
            </Button>
            <Button size={"large"} color={"primary-dim"}>
                <Icon iconName={"play"} />
                {t("@common.watchVideo")}
            </Button>
        </div>
    </div>
    <div class="welcome__image-wrapper">
        <img src="/layout-assets/images/image-for-welcome.png" alt="" />
    </div>
</Container>

<style lang="scss">
    @import "../styles/variables.scss";
    .welcome {
        display: flex;
        align-items: center;
        gap: 76px;
        padding-top: 2rem;
        padding-bottom: 2rem;
        height: 100%;
    }
    .welcome__main-content {
        display: flex;
        flex-direction: column;
        width: 50%;
        min-width: 50%;
    }
    .welcome__title {
        font-weight: 500;
        font-size: 6.875rem;
        line-height: 1.09;
        letter-spacing: 0.01em;

        margin-bottom: 4rem;
    }
    .welcome__description {
        margin-bottom: 3.5rem;
    }
    .welcome__actions {
        display: flex;
        gap: 1.5rem;
    }
    .welcome__image-wrapper {
        position: relative;
        min-width: 0;
        margin-bottom: 74px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 79%;
            aspect-ratio: 1.32;

            background: radial-gradient(
                    136.3% 147.46% at 22.04% -55.08%,
                    rgba(32, 255, 250, 0.16) 0%,
                    rgba(255, 32, 255, 0.16) 71.7%,
                    rgba(255, 116, 26, 0.16) 100%
                )
                /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            filter: blur(128px);
        }
    }
</style>
