---
import classNames from "classNames";

export interface Props {
    className?: string;
}

const { className } = Astro.props;
---

<div class={classNames(className, "welcome-image")}>
    <div class="welcome-image__glow"></div>
    <img
        class="welcome-image__monitor"
        src="/_layout-assets/images/welcome/monitor.svg"
    />
    <div class="welcome-image__window1">
        <img src="/_layout-assets/images/welcome/window-inner1.png" />
    </div>
    <div class="welcome-image__window2">
        <img src="/_layout-assets/images/welcome/window-inner2.svg" />
    </div>
    <div class="welcome-image__window3">
        <img src="/_layout-assets/images/welcome/window-inner3.svg" />
    </div>
</div>

<style lang="scss" is:global>
    @import "../styles/mixins.scss";

    .welcome-image {
        position: relative;
        aspect-ratio: 714 / 541;
    }

    .welcome-image__glow {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 86%;
        aspect-ratio: 616 / 465;

        border-radius: 50%;
        background: radial-gradient(
            145.48% 155.43% at 22.04% -55.08%,
            rgba(32, 255, 250, 0.16) 0%,
            rgba(255, 32, 255, 0.16) 71.7%,
            rgba(255, 116, 26, 0.16) 100%
        );
        filter: blur(128px);
        animation: glow-pulse 8s infinite ease-in-out;
        animation-delay: -1.25s;
        transform-origin: center;
        z-index: 10;
    }

    .welcome-image__monitor {
        max-width: 100%;
        width: 100%;
        z-index: 20;
    }

    .welcome-image__window1,
    .welcome-image__window2,
    .welcome-image__window3 {
        border-radius: clamp(8px, 1.25vw, 24px);
        background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.04) 0%,
                rgba(255, 255, 255, 0.04) 100%
            ),
            rgba(255, 198, 255, 0.12);
        -webkit-backdrop-filter: blur(32px);
        backdrop-filter: blur(32px);
        @include border-gradient($border-width: 2px);
        z-index: 30;

        & > img {
            width: 100%;
        }
    }

    .welcome-image__window1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 43.417366946%;
        animation: fly1 6s infinite ease-in-out;
    }

    .welcome-image__window2 {
        position: absolute;
        top: 17.005545286%;
        left: 58.403361344%;
        width: 40.196078431%;
        animation: fly1 4s infinite ease-in-out -1s;
    }

    .welcome-image__window3 {
        position: absolute;
        top: 62.846580406%;
        left: 13.445378151%;
        width: 41.596638655%;
        animation: fly1 4s infinite ease-in-out -4s;
    }

    @keyframes glow-pulse {
        0% {
            opacity: 0.5;
            transform: translate(-50%, -50%) scale(0.9);
        }
        50% {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1.2);
        }
        100% {
            opacity: 0.5;
            transform: translate(-50%, -50%) scale(0.9);
        }
    }

    @keyframes fly1 {
        0% {
            transform: translate(0, -3px);
        }
        50% {
            transform: translate(0, 3px);
        }
        100% {
            transform: translate(0, -3px);
        }
    }
</style>
