---
import classNames from "classNames";
import { t } from "@utils/i18next";
import Button from "@components/uiKit/Button.astro";
import Container from "@components/uiKit/Container.astro";
import Icon from "@components/uiKit/Icon";
import Text from "@components/uiKit/Text.astro";
import WithAOS from "@components/utils/WithAOS.astro";
import WelcomeImage from "@components/WelcomeImage.astro";

export interface Props {
    className?: string;
}

const { className } = Astro.props;
---

<Container className={classNames(className, "welcome")}>
    <div class="welcome__main-content">
        <WithAOS animation={"fade-right"}>
            <div class="welcome__title">{t("@landing.@welcome.title")}</div>
        </WithAOS>
        <WithAOS animation={"fade-right"} delay={100}>
            <Text className="welcome__description" variant={"h5"}>
                {t("@landing.@welcome.description")}
            </Text>
        </WithAOS>
        <WithAOS animation={"fade-right"} delay={200}>
            <div class="welcome__actions">
                <Button size={"large"}>
                    {t("@common.startNow")}
                </Button>
                <Button size={"large"} color={"primary-dim"}>
                    <Icon iconName={"play"} />
                    {t("@common.watchVideo")}
                </Button>
            </div>
        </WithAOS>
    </div>
    <WithAOS animation={"zoom-in"} delay={100}>
        <div class="welcome__image-wrapper">
            <WelcomeImage className={"welcome__image"} />
        </div>
    </WithAOS>
</Container>

<style lang="scss" is:global>
    @import "../styles/variables.scss";
    .welcome {
        display: flex;
        align-items: center;
        gap: clamp(20px, 4vw, 76px);
        padding-top: 2rem;
        padding-bottom: 3rem;
        max-width: 100%;
    }
    .welcome__main-content {
        display: flex;
        flex-direction: column;
        width: 50%;
        min-width: 50%;
    }
    .welcome__title {
        font-weight: 500;
        font-size: 6.875rem;
        line-height: 1.09;
        letter-spacing: 0.01em;

        margin-bottom: 4rem;
    }
    .welcome__description {
        margin-bottom: 3.5rem;
    }
    .welcome__actions {
        display: flex;
        gap: 1.5rem;
    }
    .welcome__image-wrapper {
        position: relative;
        min-width: 0;
        margin-bottom: clamp(0px, 4vw, 76px);

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 79%;
            aspect-ratio: 1.32;

            background: radial-gradient(
                    136.3% 147.46% at 22.04% -55.08%,
                    rgba(32, 255, 250, 0.16) 0%,
                    rgba(255, 32, 255, 0.16) 71.7%,
                    rgba(255, 116, 26, 0.16) 100%
                )
                /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            filter: blur(64px);
            animation: glow-pulse 3s infinite ease-in-out;
            animation-delay: -1.25s;
            transform-origin: center;
        }
    }

    .welcome__image {
        width: 100%;
        height: 100%;
    }

    @keyframes glow-pulse {
        0% {
            opacity: 0.5;
            transform: translate(-50%, -50%) scale(0.7);
        }
        50% {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1.3);
        }
        100% {
            opacity: 0.5;
            transform: translate(-50%, -50%) scale(0.7);
        }
    }

    @media (max-width: $desktop) {
        .welcome__title {
            font-size: 6rem;
            margin-bottom: 3.25rem;
        }
        .welcome__description {
            margin-bottom: 3rem;
        }
    }

    @media (max-width: $small-desktop) {
        .welcome__title {
            font-size: 4.75rem;
            margin-bottom: 2.5rem;
        }
        .welcome__description {
            margin-bottom: 2.5rem;
        }
    }

    @media (max-width: $laptop) {
        .welcome__title {
            font-size: 4rem;
            margin-bottom: 2rem;
        }
        .welcome__description {
            margin-bottom: 2rem;
        }
    }

    @media (max-width: $small-laptop) {
        .welcome {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
        .welcome__title {
            font-size: 3.125rem;
            margin-bottom: 1rem;
            max-width: 500px;
        }
        .welcome__description {
            margin-bottom: 1.5rem;
        }
        .welcome__main-content {
            display: flex;
            flex-direction: column;
            width: 50%;
            min-width: 50%;
        }
    }

    @media (max-width: $tablet) {
        .welcome__title {
            font-size: 2.75rem;
        }

        @media (max-height: 500px) {
            .welcome__main-content {
                max-width: unset;
                width: unset;
            }
            .welcome__title {
                max-width: 500px;
            }
            .welcome__image-wrapper {
                display: none;
            }
        }

        @media (min-height: 560px) {
            .welcome {
                flex-direction: column;
                gap: 1.5rem;
                justify-content: center;
                align-items: flex-start;
            }

            .welcome__image-wrapper {
                order: 1;
                min-width: 0;
                width: 400px;
                max-height: clamp(100px, 25vh, 228px);
                max-width: 100%;
                min-height: 0;
                margin-bottom: 0;

                & > img {
                    object-position: left;
                }
            }

            .welcome__main-content {
                order: 2;
                min-width: 0;
                width: unset;
                max-width: 100%;
                gap: 1.5rem;
            }

            .welcome__title {
                line-height: 1.27;
                margin-bottom: 0;
            }

            .welcome__description {
                max-width: 600px;
                margin-bottom: 0;
            }

            .welcome__actions {
                flex-wrap: wrap;
                gap: 0.5rem;
                margin-bottom: 0;

                svg {
                    display: none;
                }
            }
        }
    }

    @media (max-width: $mobile) {
        .welcome__title {
            font-size: 2.75rem;
        }
    }
</style>
