---
import BaseLayout from "./BaseLayout.astro";
import Header, { Props as HeaderProps } from "../components/Header.astro";
import Button from "../components/uiKit/Button.astro";

export interface Props {
    title: string;
    menuItems: HeaderProps["menuItems"];
    menuActionButton: {
        href: string;
        label: string;
    };
}

const { title, menuActionButton, menuItems } = Astro.props;
---

<BaseLayout title={title}>
    <div class="header-with-welcome">
        <!-- header -->
        <Header menuItems={menuItems}>
            <a slot="actions" href={menuActionButton.href}>
                <Button>
                    {menuActionButton.label}
                </Button>
            </a>
        </Header>
        <!-- welcome block -->
        <div class="welcome-wrapper">
            <slot name="welcome" />
        </div>
    </div>
    <!-- other content -->
    <slot />
    <!-- footer -->
</BaseLayout>

<style lang="scss">
    .header-with-welcome {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        width: 100%;
        height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
    }

    .welcome-wrapper {
        flex-grow: 1;
        min-height: 0;
    }
</style>
