---
import classNames from "classNames";

export interface Props {
    className?: string;
    drawerId: string;
}

const { className, drawerId } = Astro.props;
---

<div class={classNames(className, "drawer-trigger")} data-drawer-id={drawerId}>
    <slot />
</div>

<style lang="scss">
    html.drawer-open {
        overflow: hidden;
        padding-right: 8px;
    }
</style>

<script>
    import toggleDrawer from "./toggleDrawer";

    window.addEventListener("load", () => {
        const triggers = document.querySelectorAll(".drawer-trigger");

        triggers.forEach((trigger) => {
            trigger.addEventListener("click", () => {
                const drawerId = trigger.getAttribute("data-drawer-id");
                const drawer = drawerId
                    ? document.getElementById(drawerId)
                    : null;

                if (drawer) toggleDrawer(drawer);
            });
        });
    });
</script>
