---
import classNames from "classNames";
import Backdrop from "../Backdrop.astro";
import Container from "../Container.astro";

export interface Props {
    className?: string;
    side?: "left" | "right";
    id?: string;
}

const { className, side = "right", id } = Astro.props;
---

<div class={classNames("drawer", side)} id={id}>
    <Backdrop className="drawer__backdrop" />
    <Container className={classNames(className, "drawer__body")}>
        <slot />
    </Container>
</div>

<style lang="scss">
    @import "../../../styles/mixins";

    .drawer {
        display: flex;

        position: fixed;
        top: -200%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $z-index-drawer;
        color: $color-text-prime;

        transition: top 0s 0.19s;

        &.left {
            justify-content: flex-start;
            .drawer__body {
                min-width: 0;
                padding-right: 2rem;
                transform: translateX(-100%);
            }
        }

        &.right {
            justify-content: flex-end;
            .drawer__body {
                min-width: 0;
                padding-left: 2rem;
                transform: translateX(100%);
            }
        }

        &.open {
            top: 0;
            transition: top 0s;

            .drawer__backdrop {
                opacity: 1;
                transition: opacity 0.21s ease-out;
            }

            &.left {
                .drawer__body {
                    transform: translateX(0);
                    transition: transform 0.21s ease-out;
                }
            }

            &.right {
                .drawer__body {
                    transform: translateX(0);
                    transition: transform 0.21s ease-out;
                }
            }
        }
    }

    .drawer__backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-overlay;
        opacity: 0;
        z-index: 1;
        transition: opacity 0.19s ease-in;
    }

    .drawer__body {
        position: relative;
        display: inline-block;
        height: 100%;
        text-align: left;
        background: $color-background-upper1;
        overflow-y: scroll;
        z-index: 2;
        transition: transform 0.19s ease-in;

        @include custom-scrollbar;
    }

    @media (max-width: $mobile) {
        .drawer {
            &.left {
                justify-content: flex-start;
                .drawer__body {
                    width: 100%;
                    padding-right: $container-padding-mobile;
                }
            }

            &.right {
                justify-content: flex-end;
                .drawer__body {
                    width: 100%;
                    padding-left: $container-padding-mobile;
                }
            }
        }
    }
</style>

<script>
    import toggleDrawer from "./toggleDrawer";

    window.addEventListener("load", () => {
        const drawers = document.querySelectorAll(".drawer");

        drawers.forEach((drawer) => {
            drawer.addEventListener("click", (e) => {
                if (!(e.target instanceof Element)) return;
                if (e.target.closest(".drawer__body")) return;

                toggleDrawer(drawer);
            });
        });
    });
</script>
